.reset{
    color: red;
}
body{
    background-color: rgb(23, 102, 23);
    text-align: center;
}
.cardWindow{
    height: 450px;
    margin-top: 10vh;
}
.boardWindow{
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 2px solid black;
}
.handWindow{
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5vh;
}
.cardImgHolder{
    width: 127px;
    height: 195px;
    overflow: hidden;
    border: 1px solid black;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cardImg{
    height: 200px;
}
.handEvaluation{
    font-size: 25px;
    font-weight: 500;
    margin-top: 10px;
}
.basicButtons > button{
    color: white;
    height: 27px;
    font-size: 20px;
    background-color: black;
    border-radius: 40%;
}
.evalBtn{
    color: rgb(72, 72, 233);
    height: 27px;
    font-size: 20px;
    background-color: black;
    border-radius: 40%;
    margin-top: 2vh;
}
