.reset{
    color: red;
}
body{
    background-color: rgb(23, 102, 23);
    text-align: center;
}
.cardWindow{
    height: 450px;
    margin-top: 15vh;
}
.boardWindow{
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.handWindow{
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.cardImgHolder{
    width: 125px;
    overflow: hidden;
    border: 1px solid black;
    border-radius: 8%;
    display: flex;
    justify-content: center;
}
.cardImg{
    height: 200px;
    align-self: center;
}